* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

.container {
  width: 350px;

  position: absolute;
  /*Bastante común usar 'transform: translate(-50%, -50%);' para centrar valores absolutos*/
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/*Al llamar una id se usa '#nombreId' si es class se usa '.nameClass'*/

#card {
  width: 100%;
  padding: 30px 20px;
  border: 1px solid black
}